@import "bootstrap-sprockets";
@import "bootstrap";

body {
   font-family: Helvetica;

   background-color: black;
   color: white;

 }

 c {
   color: black;
 }

 .container {
   text-align: center;
 }

 h1 {
   color: white;
 }
